header
	section
		nav(aria-label="Навигация с ссылкой на главную")
			a(href="/")
				h1
					nobr Пост Величины
						span  — таблицы констант
		nav(aria-label="Навигация и контакты")
			a(href="#maths") Математика
			a(href="#physics") Физика
			a(href="#chemistry")
				| Химия 
				span
					nobr — Таблица Менделеева
			a(href="https://davidkistauri.ru/projects/postvel-website") 
				nobr О проекте ↗
	p
		| "Using the chain rule is like peeling an onion: you have to deal with each layer at a time, and if it is too big you start crying."