-
  const mainConstants = {
    "name": "Основные физические константы",
    "content": {
      "head": [
        "Название",
        "Обозначение",
        "Величина"
      ],
      "body": {
        "first_row": [
          "Гравитационная постоянная",
          "G",
          "<nobr>6.67*10<sup>-11</sup> H*м<sup>2</sup>/кг<sup>2</sup></nobr>"
        ],
        "second_row": [
          "Ускорение свободного падения",
          "g",
          "<nobr>9.8 м/с<sup>2</sup></nobr>"
        ],
        "third_row": [
          "Скорость света в вакууме",
          "c",
          "<nobr>299 792 458 м/с</nobr>"
        ],
        "fourth_row": [
          "Электрическая постоянная",
          "ɛ<sub>0</sub>",
          "<nobr>8.85*10<sup>-12</sup> Ф/м</nobr>"
        ],
        "fifth_row": [
          "-",
          "e/m<sub>e</sub>",
          "<nobr>1.76*10<sup>11</sup> Кл/кг</nobr>"
        ],
        "sixth_row": [
          "Универсальная газовая постоянная",
          "R",
          "<nobr>8.31 Дж/(моль*К)</nobr>"
        ],
        "seventh_row": [
          "Атомная еденица массы (а.е.м.)",
          "-",
          "<nobr>1.66057*10<sup>-27</sup> кг</nobr>"
        ],
        "eighth_row": [
          "Молярный объем идеального газа",
          "V<sub>0</sub>",
          "<nobr>22.4*10<sup>-3</sup> м<sup>3</sup>/моль</nobr>"
        ],
        "ninth_row": [
          "Магнитная постоянная",
          "µ<sub>0</sub>",
          "<nobr>4П*10<sup>-7</sup> Гн/м</nobr>"
        ],
        "tenth_row": [
          "Квант магнитного потока",
          "Ф<sub>0</sub>",
          "<nobr>2.0678506*10<sup>-15</sup> Вб</nobr>"
        ]
      }
    }
  }
-
  const elementsConstants = {
    "name": "Постоянные для частиц",
    "content": {
      "head": [
        "Название",
        "Обозначение",
        "Величина"
      ],
      "body": {
        "first_row": [
          "Масса электрона",
          "m<sub>e</sub>",
          "<nobr>9.11*10<sup>-31</sup> кг</nobr>"
        ],
        "second_row": [
          "Маса протона",
          "m<sub>p</sub>",
          "<nobr>1.00728 а.е.м.</nobr>"
        ],
        "third_row": [
          "Маса нейтрона",
          "m<sub>n</sub>",
          "<nobr>1.00866 а.е.м.</nobr>"
        ],
        "fourth_row": [
          "Элементарный заряд",
          "e",
          "<nobr>1.6*10<sup>-19</sup> Кл</nobr>"
        ],
        "fifth_row": [
          "Классический радиус электрона",
          "r<sub>e</sub>",
          "<nobr>2.8179380*10<sup>-15</sup> м</nobr>"
        ]
      }
    }
  }
-
  const nameConstants = {
    "name": "Именные постоянные",
    "content": {
      "head": [
        "Название",
        "Обозначение",
        "Величина"
      ],
      "body": {
        "first_row": [
          "Постоянная Планка",
          "h",
          "<nobr>6.63*10<sup>-34</sup> Дж*с</nobr>"
        ],
        "second_row": [
          "Постоянная Авогадро",
          "N<sub>A</sub>",
          "<nobr>6.02*10<sup>23</sup> моль<sup>-1</sup></nobr>"
        ],
        "third_row": [
          "Постоянная Больцмана",
          "k",
          "<nobr>1.38*10<sup>-23</sup> Дж/К</nobr>"
        ],
        "fourth_row": [
          "Постоянная Фарадея",
          "F",
          "<nobr>96.48456*10<sup>3</sup> Кл/моль</nobr>"
        ],
        "fifth_row": [
          "Постоянная Ридберга",
          "R<sub>∞</sub>",
          "<nobr>109737331.77 м<sup>-1</sup></nobr>"
        ],
        "sixth_row": [
          "Отношение Джозеферсона",
          "2e/h",
          "<nobr>4.835939*10<sup>14</sup> Гц*В<sup>-1</sup></nobr>"
        ],
        "seventh_row": [
          "Радиус первой Боровской орбиты",
          "a<sub>0</sub>",
          "<nobr>2.8179380*10<sup>-15</sup> м</nobr>"
        ]
      }
    }
  }
-
  const temperature = {
    "name": "Теплоемкость при 25°C и А. Д.",
    "content": {
      "head": [
        "Вещество",
        "C<sub>p</sub>"
      ],
      "body": {
        "first_row": [
          "Аргон",
          "20.79"
        ],
        "second_row": [
          "Неон",
          "20.79"
        ],
        "third_row": [
          "Криптон",
          "20.79"
        ],
        "fourth_row": [
          "Азот",
          "29.12"
        ],
        "fifth_row": [
          "Кислород",
          "29.83"
        ],
        "sixth_row": [
          "Воздух",
          "29.20"
        ],
        "seventh_row": [
          "Ртуть",
          "0.14"
        ],
        "eighth_row": [
          "Бензол",
          "1.35"
        ],
        "ninth_row": [
          "Серная к-та",
          "1.40"
        ],
        "tenth_row": [
          "Ацетон",
          "2.16"
        ],
        "eleventh_row": [
          "Этанол",
          "2.42"
        ],
        "twelfth_row": [
          "Вода",
          "4.18"
        ],
        "thirteenth_row": [
          "Свинец",
          "0.13"
        ],
        "fourteenth_row": [
          "Серебро",
          "0.24"
        ],
        "fifteenth_row": [
          "Медь",
          "0.39"
        ],
        "sixteenth_row": [
          "Железо",
          "0.45"
        ],
        "seventeenth_row": [
          "Графит",
          "0.71"
        ],
        "eighteenth_row": [
          "NaCl",
          "0.87"
        ],
        "nineteenth_row": [
          "Алюминий",
          "0.90"
        ],
        "twentieth_row": [
          "Нафталин",
          "1.29"
        ],
        "twenty-first_row": [
          "Гранит",
          "0.65"
        ],
        "twenty-second_row": [
          "Песок",
          "~0.80"
        ],
        "twenty-third_row": [
          "Асбет",
          "0.82"
        ],
        "twenty-fourth_row": [
          "Бетон",
          "0.84"
        ],
        "twenty-fifth_row": [
          "Слюда",
          "0.88"
        ],
        "twenty-sixth_row": [
          "Известняк",
          "0.92"
        ],
        "twenty-seventh_row": [
          "Дерево",
          "~1.30"
        ],
        "twenty-eighth_row": [
          "Текстолит",
          "~1.47"
        ]
      }
    }
  }