-
  const main_physics_constants = {
    "name": "Основные физические константы",
    "content": {
      "head": [],
      "body": {
        "first_row": [
          "Гравитационная постоянная",
          "G",
          "<nobr>6,67*10<sup>−11</sup> H*м<sup>2</sup>/кг<sup>2</sup></nobr>"
        ],
        "second_row": [
          "Ускорение свободного падения",
          "g",
          "<nobr>9,8 м/с<sup>2</sup></nobr>"
        ],
        "third_row": [
          "Скорость света в вакууме",
          "c",
          "<nobr>299 792 458 м/с</nobr>"
        ],
        "fourth_row": [
          "Электрическая постоянная",
          "ɛ<sub>0</sub>",
          "<nobr>8,85*10<sup>−12</sup> Ф/м</nobr>"
        ],
        "fifth_row": [
          "-",
          "e/m<sub>e</sub>",
          "<nobr>1,76*10<sup>11</sup> Кл/кг</nobr>"
        ],
        "sixth_row": [
          "Универсальная газовая постоянная",
          "R",
          "<nobr>8,31 Дж/(моль*К)</nobr>"
        ],
        "seventh_row": [
          "Атомная еденица массы (а.е.м.)",
          "-",
          "<nobr>1,66057*10<sup>−27</sup> кг</nobr>"
        ],
        "eighth_row": [
          "Молярный объем идеального газа",
          "V<sub>0</sub>",
          "<nobr>22,4*10<sup>−3</sup> м<sup>3</sup>/моль</nobr>"
        ],
        "ninth_row": [
          "Магнитная постоянная",
          "µ<sub>0</sub>",
          "<nobr>4П*10<sup>−7</sup> Гн/м</nobr>"
        ],
        "tenth_row": [
          "Квант магнитного потока",
          "Ф<sub>0</sub>",
          "<nobr>2,0678506*10<sup>−15</sup> Вб</nobr>"
        ],
        "eleventh_row": [
          "Объем молекулы",
          "V<sub>0</sub>",
          "22,4 л/моль"
        ]
      }
    }
  }
-
  const elements_constants = {
    "name": "Постоянные для частиц",
    "content": {
      "head": [],
      "body": {
        "first_row": [
          "Масса электрона",
          "m<sub>e</sub>",
          "<nobr>9,11*10<sup>−31</sup> кг</nobr>"
        ],
        "second_row": [
          "Маса протона",
          "m<sub>p</sub>",
          "<nobr>1,00728 а.е.м.</nobr>"
        ],
        "third_row": [
          "Маса нейтрона",
          "m<sub>n</sub>",
          "<nobr>1,00866 а.е.м.</nobr>"
        ],
        "fourth_row": [
          "Элементарный заряд",
          "e",
          "<nobr>1,6*10<sup>−19</sup> Кл</nobr>"
        ],
        "fifth_row": [
          "Классический радиус электрона",
          "r<sub>e</sub>",
          "<nobr>2,8179380*10<sup>−15</sup> м</nobr>"
        ]
      }
    }
  }
-
  const name_constants = {
    "name": "Именные постоянные",
    "content": {
      "head": [],
      "body": {
        "first_row": [
          "Постоянная Планка",
          "h",
          "<nobr>6,63*10<sup>−34</sup> Дж*с</nobr>"
        ],
        "second_row": [
          "Постоянная Авогадро",
          "N<sub>a</sub>",
          "<nobr>6,02*10<sup>23</sup> моль<sup>−1</sup></nobr>"
        ],
        "third_row": [
          "Постоянная Больцмана",
          "k",
          "<nobr>1,38*10<sup>−23</sup> Дж/К</nobr>"
        ],
        "fourth_row": [
          "Постоянная Фарадея",
          "F",
          "<nobr>96,48456*10<sup>3</sup> Кл/моль</nobr>"
        ],
        "fifth_row": [
          "Постоянная Ридберга",
          "R<sub>inf</sub>",
          "<nobr>109737331,77 м<sup>−1</sup></nobr>"
        ],
        "sixth_row": [
          "Отношение Джозеферсона",
          "2e/h",
          "<nobr>4,835939*10<sup>14</sup> Гц*В<sup>−1</sup></nobr>"
        ],
        "seventh_row": [
          "Радиус первой Боровской орбиты",
          "a<sub>0</sub>",
          "<nobr>2,8179380*10<sup>−15</sup> м</nobr>"
        ]
      }
    }
  }
-
  const solid_density = {
    "name": "Плотность твердых тел",
    "content": {
      "head": [
        "",
        "<nobr>кг/м<sup>3</sup></nobr>",
        "<nobr>г/cм<sup>3</sup></nobr>"
      ],
      "body": {
        "first_row": [
          "Осмий",
          "22 600",
          "22,6   "
        ],
        "second_row": [
          "Иридий",
          "22 400",
          "22,4   "
        ],
        "third_row": [
          "Платина",
          "21 500",
          "21,5   "
        ],
        "fourth_row": [
          "Золото",
          "19 300",
          "19,3   "
        ],
        "fifth_row": [
          "Свинец",
          "11 300",
          "11,3   "
        ],
        "sixth_row": [
          "Серебро",
          "10 500",
          "10,5   "
        ],
        "seventh_row": [
          "Медь",
          "8 900",
          "8,9   "
        ],
        "eighth_row": [
          "Латунь",
          "8 500",
          "8,5   "
        ],
        "ninth_row": [
          "Сталь, железо",
          "7 800",
          "7,8   "
        ],
        "tenth_row": [
          "Олово",
          "7 300",
          "7,3   "
        ],
        "eleventh_row": [
          "Цинк",
          "7 100",
          "7,1   "
        ],
        "twelfth_row": [
          "Чугун",
          "7 000",
          "7,0   "
        ],
        "thirteenth_row": [
          "Корунд",
          "4 000",
          "4,0   "
        ],
        "fourteenth_row": [
          "Алюминий",
          "2 700",
          "2,7   "
        ],
        "fifteenth_row": [
          "Мрамор",
          "2700",
          "2,7   "
        ],
        "sixteenth_row": [
          "Стекло оконное",
          "2 500",
          "2,5   "
        ],
        "seventeenth_row": [
          "Фарфор",
          "2 300",
          "2,3   "
        ],
        "eighteenth_row": [
          "Бетон",
          "2 300",
          "2,3   "
        ],
        "nineteenth_row": [
          "Кирпич",
          "1 800",
          "1,8   "
        ],
        "twentieth_row": [
          "Сахар-рафинад",
          "1 600",
          "1,6   "
        ],
        "twenty-first_row": [
          "Оргстекло",
          "1 200",
          "1,2   "
        ],
        "twenty-second_row": [
          "Капрон",
          "1 100",
          "1,1   "
        ],
        "twenty-third_row": [
          "Полиэтилен",
          "920",
          "0,92"
        ],
        "twenty-fourth_row": [
          "Парафин",
          "900",
          "0,90"
        ],
        "twenty-fifth_row": [
          "Лёд",
          "900",
          "0,90"
        ],
        "twenty-sixth_row": [
          "Дуб (сухой)",
          "700",
          "0,70"
        ],
        "twenty-seventh_row": [
          "Сосна (сухая)",
          "400",
          "0,40"
        ],
        "twenty-eighth_row": [
          "Пробка",
          "240",
          "0,24"
        ]
      }
    }
  }
-
  const liquid_density = {
    "name": "Плотность жидкостей",
    "content": {
      "head": [
        "",
        "<nobr>кг/м<sup>3</sup></nobr>",
        "<nobr>г/cм<sup>3</sup></nobr>"
      ],
      "body": {
        "first_row": [
          "Ртуть",
          "13 600",
          "13,60"
        ],
        "second_row": [
          "Серная кислота",
          "1 800",
          "1,80"
        ],
        "third_row": [
          "Мёд",
          "1 350",
          "1,35"
        ],
        "fourth_row": [
          "Вода морская",
          "1 030",
          "1,03"
        ],
        "fifth_row": [
          "Молоко цельное",
          "1 030",
          "1,03"
        ],
        "sixth_row": [
          "Вода чистая",
          "1 000",
          "1,00"
        ],
        "seventh_row": [
          "Масло подсолнечное",
          "930",
          "0,93"
        ],
        "eighth_row": [
          "Масло машинное",
          "900",
          "0,90"
        ],
        "ninth_row": [
          "Керосин",
          "800",
          "0,80"
        ],
        "tenth_row": [
          "Спирт",
          "800",
          "0,80"
        ],
        "eleventh_row": [
          "Нефть",
          "800",
          "0,80"
        ],
        "twelfth_row": [
          "Ацетон",
          "790",
          "0,79"
        ],
        "thirteenth_row": [
          "Эфир",
          "710",
          "0,71"
        ],
        "fourteenth_row": [
          "Бензин",
          "710",
          "0,71"
        ],
        "fifteenth_row": [
          "Жидкое олово <nobr>(при 400<sup>°</sup>C)</nobr>",
          "6 800",
          "6,8   "
        ],
        "sixteenth_row": [
          "Жидкий воздух <nobr>(при −194<sup>°</sup>C)</nobr>",
          "860",
          "0,86"
        ]
      }
    }
  }
-
  const gases_density = {
    "name": "Плотность газов",
    "content": {
      "head": [
        "",
        "<nobr>кг/м<sup>3</sup></nobr>",
        "<nobr>г/cм<sup>3</sup></nobr>"
      ],
      "body": {
        "first_row": [
          "Хлор",
          "3,210",
          "0,00321"
        ],
        "second_row": [
          "<nobr>Оксид углерода (IV)</nobr> <nobr>(углекислый газ)</nobr>",
          "1,980",
          "0,00198"
        ],
        "third_row": [
          "Кислород",
          "1,430",
          "0,00143"
        ],
        "fourth_row": [
          "Воздух <nobr>(при 0<sup>°</sup>C)</nobr>",
          "1,290",
          "0,00129"
        ],
        "fifth_row": [
          "Азот",
          "1,250",
          "0,00125"
        ],
        "sixth_row": [
          "<nobr>Оксид углерода (II)</nobr> <nobr>(угарный газ)</nobr>",
          "1,250",
          "0,00125"
        ],
        "seventh_row": [
          "Природный газ",
          "0,800",
          "0,0008   "
        ],
        "eighth_row": [
          "Водяной пар <nobr>(при 100<sup>°</sup>C)</nobr>",
          "0,590",
          "0,00059"
        ],
        "ninth_row": [
          "Гелий",
          "0,180",
          "0,00018"
        ],
        "tenth_row": [
          "Водород",
          "0,090",
          "0,00009"
        ]
      }
    }
  }
-
  const temperature_capacity = {
    "name": "Теплоемкость веществ при 25°C и А. Д.",
    "content": {
      "head": [
        "",
        "Дж/К"
      ],
      "body": {
        "first_row": [
          "Аргон",
          "20,79"
        ],
        "second_row": [
          "Неон",
          "20,79"
        ],
        "third_row": [
          "Криптон",
          "20,79"
        ],
        "fourth_row": [
          "Азот",
          "29,12"
        ],
        "fifth_row": [
          "Кислород",
          "29,83"
        ],
        "sixth_row": [
          "Воздух",
          "29,20"
        ],
        "seventh_row": [
          "Ртуть",
          "0,14"
        ],
        "eighth_row": [
          "Бензол",
          "1,35"
        ],
        "ninth_row": [
          "Серная к-та",
          "1,40"
        ],
        "tenth_row": [
          "Ацетон",
          "2,16"
        ],
        "eleventh_row": [
          "Этанол",
          "2,42"
        ],
        "twelfth_row": [
          "Вода",
          "4,18"
        ],
        "thirteenth_row": [
          "Свинец",
          "0,13"
        ],
        "fourteenth_row": [
          "Серебро",
          "0,24"
        ],
        "fifteenth_row": [
          "Медь",
          "0,39"
        ],
        "sixteenth_row": [
          "Железо",
          "0,45"
        ],
        "seventeenth_row": [
          "Графит",
          "0,71"
        ],
        "eighteenth_row": [
          "Хлорид натрия",
          "0,87"
        ],
        "nineteenth_row": [
          "Алюминий",
          "0,90"
        ],
        "twentieth_row": [
          "Нафталин",
          "1,29"
        ],
        "twenty-first_row": [
          "Гранит",
          "0,65"
        ],
        "twenty-second_row": [
          "Песок",
          "~0,80"
        ],
        "twenty-third_row": [
          "Асбет",
          "0,82"
        ],
        "twenty-fourth_row": [
          "Бетон",
          "0,84"
        ],
        "twenty-fifth_row": [
          "Слюда",
          "0,88"
        ],
        "twenty-sixth_row": [
          "Известняк",
          "0,92"
        ],
        "twenty-seventh_row": [
          "Дерево",
          "~1,30"
        ],
        "twenty-eighth_row": [
          "Текстолит",
          "~1,47"
        ]
      }
    }
  }
-
  const specific_resistance = {
    "name": "Удельное сопротивление веществ",
    "content": {
      "head": [
        "",
        "Ом*м"
      ],
      "body": {
        "first_row": [
          "Серебро",
          "1,6*10<sup>−8</sup>"
        ],
        "second_row": [
          "Медь",
          "1,7*10<sup>−8</sup>"
        ],
        "third_row": [
          "Золото",
          "2,4*10<sup>−8</sup>"
        ],
        "fourth_row": [
          "Алюминий",
          "2,8*10<sup>−8</sup>"
        ],
        "fifth_row": [
          "Вольфрам",
          "5,5*10<sup>−8</sup>"
        ],
        "sixth_row": [
          "Платина",
          "1,0*10<sup>−7</sup>"
        ],
        "seventh_row": [
          "Сталь",
          "2,0*10<sup>−7</sup>"
        ],
        "eighth_row": [
          "Манганин",
          "4,4*10<sup>−7</sup>"
        ],
        "ninth_row": [
          "Константан",
          "4,7*10<sup>−7</sup>"
        ],
        "tenth_row": [
          "Ртуть",
          "9,6*10<sup>−7</sup>"
        ],
        "eleventh_row": [
          "Нихром",
          "1,0*10<sup>−6</sup>"
        ],
        "twelfth_row": [
          "Углерод",
          "3,5*10<sup>−5</sup>"
        ],
        "thirteenth_row": [
          "Поваренная соль",
          "4,4*10<sup>−2</sup>"
        ],
        "fourteenth_row": [
          "Германий",
          "0,5"
        ],
        "fifteenth_row": [
          "Кровь",
          "1,5"
        ],
        "sixteenth_row": [
          "Жир",
          "25"
        ],
        "seventeenth_row": [
          "Кремний",
          "2300"
        ],
        "eighteenth_row": [
          "Полиэтилен",
          "10<sup>8</sup>+10<sup>9</sup>"
        ],
        "nineteenth_row": [
          "Дерево",
          "10<sup>8</sup>+10<sup>11</sup>"
        ],
        "twentieth_row": [
          "Стекло",
          "10<sup>10</sup>+10<sup>14</sup>"
        ],
        "twenty-first_row": [
          "Янтарь",
          "5*10<sup>17</sup>"
        ],
        "twenty-second_row": [
          "Кварц",
          "7,5*10<sup>17</sup>"
        ]
      }
    }
  }
-
  const melt_boiling_temperature = {
    "name": "Температура плавления и кипения в °C",
    "content": {
      "head": [],
      "body": {
        "first_row": [
          "Al",
          "660",
          "2500"
        ],
        "second_row": [
          "Au",
          "1063",
          "2950"
        ],
        "third_row": [
          "Ba",
          "710",
          "1700"
        ],
        "fourth_row": [
          "Be",
          "1284",
          "2400"
        ],
        "fifth_row": [
          "Bi",
          "271",
          "1560"
        ],
        "sixth_row": [
          "Ca",
          "850",
          "1420"
        ],
        "seventh_row": [
          "Cd",
          "321",
          "765"
        ],
        "eighth_row": [
          "Co",
          "1492",
          "2900"
        ],
        "ninth_row": [
          "Cu",
          "1083",
          "2570"
        ],
        "tenth_row": [
          "Fe",
          "1539",
          "3070"
        ],
        "eleventh_row": [
          "Hg",
          "38",
          "357"
        ],
        "twelfth_row": [
          "In",
          "157",
          "2075"
        ],
        "thirteenth_row": [
          "K",
          "64",
          "779"
        ],
        "fourteenth_row": [
          "Li",
          "181",
          "1370"
        ],
        "fifteenth_row": [
          "Mg",
          "650",
          "1107"
        ],
        "sixteenth_row": [
          "Mn",
          "1244",
          "2095"
        ],
        "seventeenth_row": [
          "Na",
          "98",
          "882"
        ],
        "eighteenth_row": [
          "Nb",
          "2468",
          "4500"
        ],
        "nineteenth_row": [
          "Pb",
          "327",
          "1740"
        ],
        "twentieth_row": [
          "Sb",
          "630",
          "1635"
        ],
        "twenty-first_row": [
          "Sn",
          "232",
          "2270"
        ],
        "twenty-second_row": [
          "Ta",
          "3000",
          "6100"
        ],
        "twenty-third_row": [
          "Ti",
          "1660",
          "3260"
        ],
        "twenty-fourth_row": [
          "Zn",
          "419",
          "907"
        ],
        "twenty-fifth_row": [
          "Zr",
          "1860",
          "4750"
        ]
      }
    }
  }
-
  const degrees_of_freedom = {
    "name": "Степени свободы молекул",
    "content": {
      "short_name": {
        "head": "Кол-во атомов",
        "body": [
          "1",
          "2",
          "3+"
        ]
      },
      "value": {
        "head": "Число",
        "body": [
          "3",
          "5",
          "6"
        ]
      }
    }
  }