@media screen and (prefers-color-scheme: dark) {
  :root {
    --accent: #e53935;
    --accent-50: #e5393580;
    --accent-25: #e5393540;
    --additional-bg: #e5393520;
    --main-fg: #fff8e1;
    --main-bg: #212121;
    --main-bg-25: #21212140;

    --bro: #a1887f;
    --egr: #b0bec5;
  }
  p,
  th,
  td {
    opacity: 0.8;
  }
}
