@media screen and (prefers-color-scheme: dark) {
  :root {
    --additional-bg: #282f38;
    --main-fg: #ebeae7;
    --additional-fg: #ffffff;
    --main-bg: #2f3541;

    --additional-bg-50: #282f3880;
  }
}
