@media screen and (prefers-color-scheme: dark) {
  :root {
    --accent: #e53935;
    --accent-50: #e5393580;
    --additional-bg: #e5393530;
    --table-bg: #e5393510;
    --main-fg: #fff8e1;
    --main-bg: #212121;

    --yel: #ffab00;
    --red: #ff5131;
    --blu: #768fff;
    --pur: #e254ff;
    --sal: #9cff57;
    --gre: #5efc82;
    --bro: #bcaaa4;
    --egr: #b0bec5;
    --lbl: #62ebff;
    --ebl: #5df2d6;
    --gra: #ff9e40;
  }
  p,
  th,
  td {
    opacity: 0.8;
  }
}
