@font-face {
  font-family: "PT Root UI";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/src/fonts/PT\ Root\ UI_Regular.woff2?v=3.5") format("woff2");
}

@font-face {
  font-family: "PT Root UI";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/src/fonts/PT\ Root\ UI_Bold.woff2?v=3.5") format("woff2");
}

* {
  scroll-behavior: smooth;
}

*::selection {
  color: var(--main-fg);
  background-color: var(--accent);
}

*::-moz-selection {
  color: var(--main-fg);
  background-color: var(--accent);
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color: var(--main-bg);
}

header,
footer {
  width: calc(100% - 2 * var(--primary-padding));
  margin-right: var(--primary-padding);
  margin-left: var(--primary-padding);
  margin-bottom: var(--secondary-padding);
  background-color: var(--main-bg);
}

footer {
  border-top: 1px solid var(--additional-bg);
}

header hr,
footer hr {
  margin: 0;
}

header section,
header nav {
  display: flex;
}

header section {
  justify-content: space-between;
}

header nav a {
  display: inline-block;
  margin-right: 0.125rem;
  padding: 0.185rem 0.435rem;
  border-radius: 0.35rem;
  line-height: 1.5em;
}

header nav:first-child a {
  border: 1px solid var(--additional-bg);
  background-color: unset;
  pointer-events: none;
}

header nav:last-child a {
  border: 1px solid transparent;
  background-color: var(--additional-bg);
}

header p {
  max-width: 500px;
  margin: 1rem 0.5rem;
}

footer section {
  display: inline-block;
}

main hr {
  margin: 0 0 1rem 0;
}

nav {
  margin: 1rem 0 0 0;
}

nav * {
  vertical-align: top;
}

main {
  margin: 0 auto;
  background-color: var(--main-bg);
}

main > svg {
  width: calc(100% - 2*var(--primary-padding));
  padding: 0 var(--primary-padding);
}

h1,
h2,
h3,
a,
table,
p {
  font-family: "PT Root UI", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
table.mend span.latin {
  font-weight: 700;
  line-height: 1em;
}

h1,
h2,
h3 {
  letter-spacing: -0.02em;
}

h1,
h2 {
  margin-top: 0;
  text-transform: uppercase;
}

h1 {
  margin-top: 0.75rem;
  margin-bottom: 0;
  font-size: 3.375rem;
  color: var(--accent);
}

h2,
h3,
td {
  color: var(--main-fg);
}

h2 {
  display: table;
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
}

h2 svg {
  height: 100%;
  vertical-align: top;
  fill: var(--main-fg);
}

h2 + h3 {
  margin-top: 1.5rem;
}

h3 {
  margin-top: 2.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}

p,
a,
table {
  font-weight: 400;
}

p,
th,
td {
  font-size: 1rem;
}

p, a {
  line-height: 1.4em;
  color: var(--accent);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  transition: color cubic-bezier(0.07, 0.74, 0.38, 1.01) 0.5s,
    background-color cubic-bezier(0.07, 0.74, 0.38, 1.01) 0.5s;
}

a:hover {
  color: var(--accent-50);
}

table {
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  border-collapse: collapse;
  font-feature-settings: "tnum" 1;
  font-weight: 700;
  background-color: var(--table-bg);
  text-shadow: none;
}

table.right td,
table.right tr:first-of-type th:not(:first-child),
table.part-right tr th:not(:first-of-type),
table.part-right tr td:not(:first-of-type),
table.td-right td {
  text-align: right;
}

table.mend {
  border: 0;
}

table.mend th {
  text-align: center;
  vertical-align: middle;
}

table.mend td {
  padding-bottom: 1rem;
}

table.mend span {
  display: block;
  font-size: 0.75em;
}

table.mend span.latin {
  font-size: 2rem;
}

table.mend a {
  color: inherit;
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--additional-bg);
}

tr th:not(:last-child),
tr td:not(:last-child) {
  padding-right: 1.25rem;
}

th,
td {
  max-width: 12.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0;
  font-weight: 700;
  line-height: 1em;
  vertical-align: top;
}

th {
  text-align: left;
  color: var(--accent);
}

td p {
  margin: 0;
}

.yel {
  color: var(--yel);
}

.red {
  color: var(--red);
}

.bla,
.egr,
.ebl {
  color: var(--bro);
}

.blu {
  color: var(--blu);
}

.sal {
  color: var(--sal);
}

.gre {
  color: var(--gre);
}

.egr {
  color: var(--egr);
}

.pur {
  color: var(--pur);
}

.lbl {
  color: var(--lbl);
}

.ebl {
  color: var(--ebl);
}

.gra {
  color: var(--gra);
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -5px;
}

sub {
  vertical-align: baseline;
  position: relative;
  bottom: -5px;
}

/* section.main__intr, */
section.main__math,
section.main__phys,
section.main__chem {
  padding: 0 var(--primary-padding) var(--secondary-padding)
    var(--primary-padding);
}

section.table-container {
  position: relative;
  overflow-x: scroll;
  margin-top: 1rem;
  margin-right: calc(-1 * var(--primary-padding));
  margin-left: calc(-1 * var(--primary-padding));
  padding-right: var(--primary-padding);
  padding-left: var(--primary-padding);
  -webkit-overflow-scrolling: touch;
  -webkit-mask-image: linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(0,0,0,.25) calc(var(--primary-padding)/2),rgba(0,0,0,1) var(--primary-padding),rgba(0,0,0,1) calc(100% - var(--primary-padding)),rgba(0,0,0,.25) calc(100% - var(--primary-padding)/2),rgba(0,0,0,0));
  mask-image: linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(0,0,0,.25) calc(var(--primary-padding)/2),rgba(0,0,0,1) var(--primary-padding),rgba(0,0,0,1) calc(100% - var(--primary-padding)),rgba(0,0,0,.25) calc(100% - var(--primary-padding)/2),rgba(0,0,0,0));
}

section.table-container::-webkit-scrollbar {
  height: 0;
}

hr {
  height: 1px;
  border: 0;
  background-color: var(--additional-bg);
}
