@media screen and (max-width: 870px) {
  :root {
    --primary-padding: 1.17rem;
    --secondary-padding: 3rem;
  }
  html {
    font-size: 16px;
  }
  header section,
  header nav {
    display: flex;
  }
  header section {
    margin-right: calc(-1 * var(--primary-padding));
    margin-left: calc(-1 * var(--primary-padding));
    padding-right: var(--primary-padding);
    padding-left: var(--primary-padding);
    overflow: scroll;
  }
  header section::-webkit-scrollbar {
    display: none;
  }
  footer nav a {
    margin-right: 0.5rem;
  }
  h1 {
    word-wrap: break-word;
  }
}
