@media screen and (max-width: 870px) {
  :root {
    --primary-padding: 2.4rem;
    --secondary-padding: 1.5rem;
  }
  html {
    font-size: 16px;
  }
  header,
  section.main__intr {
    grid-template-columns: unset;
    grid-template-rows: auto auto;
  }
  header {
    position: static;
    padding: var(--secondary-padding);
    width: unset;
    height: auto;
    background-color: var(--additional-bg);
    box-shadow: 0;
    backdrop-filter: unset;
  }
  header nav {
    justify-self: left;
  }
  footer table {
    padding: 0;
  }
  footer th.footer__contacts__link {
    width: 33.33vw;
  }
  section.main__intr {
    padding-top: 0;
    min-height: unset;
  }
  img {
    width: 100vw;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    display: none;
  }
  h1.mob {
    display: block;
  }
}
