:root {
  --accent: #f44336;
  --accent-50: #f4433680;
  --additional-bg: #f4433630;
  --table-bg: #f4433610;
  --main-fg: #212121;
  --main-bg: #fff8e1;

  --yel: #ffab00;
  --red: #d50000;
  --blu: #2962ff;
  --pur: #aa00ff;
  --sal: #64dd17;
  --gre: #00c853;
  --bro: #5d4037;
  --egr: #455a64;
  --lbl: #00b8d4;
  --ebl: #00bfa5;
  --gra: #ff6d00;

  --primary-padding: 1.875rem;
  --secondary-padding: 3rem;
}
