:root {
  --accent: #e85342;
  --additional-bg: #ebeae7;
  --main-fg: #282f38;
  --additional-fg: #2f3541;
  --main-bg: #ffffff;

  --additional-bg-50: #ebeae780;

  --primary-padding: 4.8rem;
  --secondary-padding: 3rem;
}
