@font-face
  font-weight: normal
  font-family: "Inter"
  font-style: normal
  src: url("./Inter_Medium.woff2") format("woff2")
  font-display: swap

@font-face
  font-weight: 700
  font-family: "Inter"
  font-style: normal
  src: url("./Inter_Bold.woff2") format("woff2")
  font-display: swap

h1,
h2,
h3,
a,
table,
p,
ul
  font-family: "Inter", Helvetica, Arial, sans-serif