@font-face
  font-weight: 100 900
  font-family: "PT Root UI"
  font-style: normal
  src: url("./pt-root-ui_vf.woff2") format("woff2")
  font-display: swap

h1,
h2,
h3,
a,
table,
p,
ul
  font-family: "PT Root UI", Helvetica, Arial, sans-serif