@font-face
  font-family: "PT Root UI"
  font-weight: normal
  font-style: normal
  font-display: swap
  src: url("./PT_Root_UI_Medium.woff2") format("woff2")

@font-face
  font-family: "PT Root UI"
  font-weight: 700
  font-style: normal
  font-display: swap
  src: url("./PT_Root_UI_Bold.woff2") format("woff2")