footer
  width: calc(100% - 2 * var(--primary-padding))
  margin-right: var(--primary-padding)
  margin-left: var(--primary-padding)
  margin-bottom: var(--secondary-padding)
  border-top: 1px solid var(--additional-bg)
  background-color: var(--main-bg)

  section
    display: inline-block

    nav 
      margin-top: 1rem

      a
        border-bottom: 1px solid var(--additional-bg)

        &:hover
          color: var(--accent)