footer
  section
    nav
      p
        strong Разделы: 
        a(href="#maths") математика
        span , 
        a(href="#physics") физика
        span , 
        a(href="#chemistry") химия
        span .
        br
        strong Подписка: 
        a(href="https://twitter.com/dtroode") твиттер
        span , 
        a(href="https://t.me/s/dtroode_channel") телеграм канал
        span , 
        a(href="https://davidkistauri.ru/blog/all/rss-subscribe") блог
        span .
        br
        strong Контакты: 
        a(href="https://t.me/dtroode") телеграм
        span , 
        a(href="mailto:davidkis113@gmail.com") почта
        span .
        br
        br
        a(href="https://github.com/dtroode/postvel/tree/master/src/pages") Редактировать
        span  на GitHub.
        br
        br
        span ©&thinsp;2018… Пост Величины — проект 
        a(href="https://davidkistauri.ru") Давида Кистаури
        span . 
        br
        em Выучи уже эти таблицы.
