footer
  section
    nav
      p
        strong Разделы: 
        a(href="#maths") математика
        span , 
        a(href="#physics") физика
        span , 
        a(href="#chemistry") химия
        span .
        br
        strong Подписка: 
        a(href="https://twitter.com/dtroode") твиттер
        span , 
        a(href="https://t.me/s/dtroode_channel") телеграм канал
        span , 
        a(href="https://davidkistauri.ru/blog/all/rss-subscribe") блог
        span .
        br
        strong Контакты: 
        a(href="https://t.me/dtroode") телеграм
        span , 
        a(href="mailto:davidkis113@gmail.com") почта
        span .
        br
        br
        a(href="https://github.com/dtroode/postvel") Редактировать
        span  на GitHub.
        br
        br
        span ©&thinsp;2018… Пост Величины — проект 
        a(href="https://davidkistauri.ru") Давида Кистаури
        span . 
        em Выучи уже эти таблицы.
  <svg style="position:relative;height:11.2rem;margin-top:1rem;vertical-align:top" viewBox="0 0 667 668" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M343.342 24.48c27.071 41.687-25.6 123.938-117.645 183.712-92.045 59.775-188.608 74.438-215.68 32.752-27.071-41.687 25.6-123.938 117.645-183.712C219.707-2.543 316.27-17.206 343.342 24.48z" fill="var(--accentColor)"/><path d="M5.833 232.585L337.108 17.453l67.725 125L543.215 334.83 211.941 549.963l-89.108-164.51-117-152.868z" fill="var(--accentColor)"/><path d="M649.58 294.302c42.267 65.085-39.252 193.037-182.077 285.789-142.826 92.751-292.872 115.18-335.139 50.095-42.267-65.085 39.252-193.037 182.077-285.789 142.826-92.752 292.872-115.18 335.139-50.095z" fill="var(--accentColor)"/><mask id="a" maskUnits="userSpaceOnUse" x="122" y="143" width="615" height="638"><path d="M598.95 362.999l6.325 4.173 5.19-5.521 25.507-27.132 39.874-4.13 14.249 42.797-7.721 29.372-25.517 45.984-1.131 2.037v65.223l-69.208 84.497-3.693 4.51 2.604 5.214 24.328 48.711 1.34 2.684 2.683 1.343 35.334 17.688-63.579 7.072-1.597.178-1.436.719-25.716 12.872-20.6-.896 5.417-7.231 10.784-14.396H531.764l6.39-3.655 33.976-11.905 10.505-3.681-5.8-9.502-19.114-31.314-2.632-4.311h-49.204l-44.18-10.207-6.909-1.597-3.169 6.344-5.213 10.439-.494.99-.24 1.081-6.732 30.328-15.207 32.141-6.08 12.849h32.4l.031.04-19.553 2.936-.366.055-.361.085-59.081 13.918-.315.074-.309.097-26.49 8.288h-17.719l4.28-7.346 6.274-10.767-12.194-2.57-22.134-4.665 1.006-2.266 42.918-18.415 35.561 6.473 5.477.997 3.338-4.455 20.852-27.835 1.282-1.711.375-2.105 8.689-48.711 1.081-6.062-5.258-3.204-38.611-23.529-61.565-77.046-.499-.624-.602-.527-54.275-47.546-31.277-62.626v-70.76l-12.592 5.481-39.967 17.397-5.408 2.354v31.692H157.96l-16.793-37.827 18.332-38.236 28.322-26.686 2.828-2.665V203.728l65.14-43.477 49.15 18.452 31.053 35.752V269.029l1.073 1.997 12.164 22.615 2.548 4.737h74.191l98.161 15.25 74.821 49.371z" stroke="var(--backgroundColor)" stroke-width="18"/><path d="M227.734 235.754h1.173l-.996.647-.434-.318.257-.329zM425.322 396.286l4.445-6.284-5.518-5.366-44.931-43.698h53.484l78.573 14.287 45.419 37.351-24.945 33.297-17.462 9.5-6.096 3.316 1.658 6.739 9.423 38.314-31.803 38.82-87.482-90.61 25.235-35.666z" stroke="var(--backgroundColor)" stroke-width="18"/></mask><g mask="url(#a)" fill="var(--backgroundColor)"><path d="M343.24 24.546c27.072 41.687-25.558 123.911-117.552 183.652-91.993 59.741-188.514 74.377-215.586 32.691-27.072-41.687 25.558-123.91 117.551-183.652C219.647-2.504 316.168-17.14 343.24 24.547z"/><path d="M5.833 232.588L337.108 17.455l67.725 125 138.382 192.378-331.274 215.132-89.108-164.51-117-152.867z"/><path d="M649.58 294.302c42.267 65.085-39.252 193.037-182.078 285.789-142.825 92.752-292.872 115.18-335.138 50.095-42.267-65.085 39.252-193.037 182.077-285.789 142.826-92.751 292.872-115.18 335.139-50.095z"/></g></svg>

