footer
  section
    nav
      p.
        #[strong Разделы:] #[a(href="#math") математика], #[a(href="#phys") физика], #[a(href="#chem") химия].
      p.
        #[strong Соц. сети:] #[a(href="https://twitter.com/dtroode") твиттер], #[a(href="https://t.me/s/dtroode_channel") телеграм канал], #[a(href="https://instagram.com/dtroode") инстаграм].
      p.
        #[strong Контакты:] #[a(href="https://davidkistauri.ru") мой сайт], #[a(href="https://t.me/dtroode") телеграм], #[a(href="mailto:davidkis113@gmail.com") почта].
      br
      p ©&thinsp;2018… Постоянные Величины, Давид Кистаури.
      p Выучи уже эти таблицы.
  <svg style="position: relative; height: 8.4rem; margin-top: 1rem; vertical-align: top;" viewBox="0 0 792 792" fill="none" xmlns="http://www.w3.org/2000/svg">
    <ellipse cx="228.883" cy="180.683" rx="194.95" ry="88.838" transform="rotate(-33 228.883 180.683)" fill="#F44336" />
    <path d="M60.2827 279.24L387.28 66.8857L454.131 190.272L590.727 380.165L263.729 592.52L175.772 430.134L60.2827 279.24Z" fill="#F44336" />
    <ellipse cx="440.449" cy="505.934" rx="304.373" ry="138.702" transform="rotate(-33 440.449 505.934)" fill="#F44336" />
    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="186" y="180" width="589" height="612">
      <path d="M658.631 419.005L664.953 423.174L670.142 417.658L694.88 391.359L733.364 387.375L747.132 428.7L739.652 457.138L714.856 501.797L713.724 503.835V506.166V567.192L646.487 649.234L642.79 653.745L645.397 658.962L669.053 706.299L670.394 708.983L673.077 710.325L706.663 727.128L645.695 733.906L644.099 734.083L642.663 734.802L617.715 747.283L598.225 746.435L603.201 739.796L613.994 725.398H596H594.391L599.752 722.332L632.768 710.77L643.279 707.089L637.474 697.585L618.888 667.154L616.256 662.845H611.207H568.301L525.37 652.932L518.463 651.338L515.294 657.679L510.225 667.822L509.73 668.813L509.49 669.894L502.95 699.339L488.176 730.547L482.092 743.398H496.31H510.879L494.975 745.785L494.608 745.84L494.248 745.925L436.8 759.449L436.485 759.524L436.176 759.62L410.453 767.663H393.699L397.637 760.909L403.916 750.139L391.717 747.569L370.5 743.1L371.309 741.278L412.883 723.45L447.389 729.728L452.864 730.724L456.201 726.271L476.477 699.221L477.76 697.51L478.136 695.404L486.584 648.067L487.666 642.004L482.406 638.8L444.9 615.957L385.064 541.12L384.565 540.495L383.963 539.969L331.225 493.797L300.862 433.037V377.68V363.95L288.272 369.427L249.41 386.333L244 388.686V394.586V419.398H230.126L213.912 382.897L231.666 345.89L259.17 319.989L262 317.324V313.436V288.077V264.152L325.122 222.047L372.737 239.912L402.828 274.536V325.271V327.539L403.902 329.536L415.73 351.514L418.278 356.249H423.655H490.547L585.923 371.057L658.631 419.005Z" stroke="#FFF8E1" stroke-width="18" />
      <path d="M297.935 295.389L298.101 295.389L297.991 295.461L297.92 295.408L297.935 295.389Z" stroke="#FFF8E1" stroke-width="18" />
      <path d="M490.139 451.289L494.589 445.003L489.066 439.635L445.827 397.608H497.189L573.505 411.476L617.43 447.577L593.355 479.694L576.424 488.9L570.325 492.216L571.984 498.957L581.116 536.065L550.449 573.476L465.725 485.775L490.139 451.289Z" stroke="#FFF8E1" stroke-width="18" />
    </mask>
    <g mask="url(#mask0)">
      <ellipse cx="228.883" cy="180.683" rx="194.95" ry="88.838" transform="rotate(-33 228.883 180.683)" fill="#FFF8E1" />
      <path d="M60.2827 279.243L387.28 66.8881L454.131 190.274L590.727 380.168L263.729 592.522L175.772 430.137L60.2827 279.243Z" fill="#FFF8E1" />
      <ellipse cx="440.449" cy="505.934" rx="304.373" ry="138.702" transform="rotate(-33 440.449 505.934)" fill="#FFF8E1" />
    </g>
  </svg>
