footer
  section
    nav
      p.
        #[strong Разделы:] #[a(href="#maths") математика], #[a(href="#physics") физика], #[a(href="#chemistry") химия].
      p.
        #[strong Подписка:] #[a(href="https://twitter.com/dtroode") твиттер], #[a(href="https://t.me/s/dtroode_channel") телеграм канал], #[a(href="https://davidkistauri.ru/blog/all/rss-subscribe") блог].
      p.
        #[strong Контакты:] #[a(href="https://t.me/dtroode") телеграм], #[a(href="mailto:davidkis113@gmail.com") почта].
      br
      p.
        #[a(href="https://github.com/dtroode/postvel") Редактировать] на GitHub.
      br
      p ©&thinsp;2018… Пост Величины — проект #[a(href="https://davidkistauri.ru") Давида Кистаури].
      p 
        em Выучи уже эти таблицы.
  <svg style="position: relative; height: 11.2rem; margin-top: 1rem; vertical-align: top;" viewBox="0 0 667 668" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M343.342 24.4803C370.413 66.167 317.742 148.418 225.697 208.192C133.652 267.967 37.0892 282.63 10.0175 240.944C-17.0541 199.257 35.6172 117.006 127.662 57.2316C219.707 -2.54306 316.27 -17.2063 343.342 24.4803Z" fill="var(--accentColor)"/>
    <path d="M5.83336 232.585L337.108 17.4528L404.833 142.453L543.215 334.83L211.941 549.963L122.833 385.453L5.83336 232.585Z" fill="var(--accentColor)"/>
    <path d="M649.58 294.302C691.847 359.387 610.328 487.339 467.503 580.091C324.677 672.842 174.631 695.271 132.364 630.186C90.0972 565.101 171.616 437.149 314.441 344.397C457.267 251.645 607.313 229.217 649.58 294.302Z" fill="var(--accentColor)"/>
    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="122" y="143" width="615" height="638">
      <path d="M598.95 362.999L605.275 367.172L610.465 361.651L635.972 334.519L675.846 330.389L690.095 373.186L682.374 402.558L656.857 448.542L655.726 450.579V452.909V515.802L586.518 600.299L582.825 604.809L585.429 610.023L609.757 658.734L611.097 661.418L613.78 662.761L649.114 680.449L585.535 687.521L583.938 687.699L582.502 688.418L556.786 701.29L536.186 700.394L541.603 693.163L552.387 678.767H534.4H531.764L538.154 675.112L572.13 663.207L582.635 659.526L576.835 650.024L557.721 618.71L555.089 614.399H550.039H505.885L461.705 604.192L454.796 602.595L451.627 608.939L446.414 619.378L445.92 620.368L445.68 621.449L438.948 651.777L423.741 683.918L417.661 696.767H431.876H450.061L450.092 696.807L430.539 699.743L430.173 699.798L429.812 699.883L370.731 713.801L370.416 713.875L370.107 713.972L343.617 722.26H325.898L330.178 714.914L336.452 704.147L324.258 701.577L302.124 696.912L303.13 694.646L346.048 676.231L381.609 682.704L387.086 683.701L390.424 679.246L411.276 651.411L412.558 649.7L412.933 647.595L421.622 598.884L422.703 592.822L417.445 589.618L378.834 566.089L317.269 489.043L316.77 488.419L316.168 487.892L261.893 440.346L230.616 377.72V320.693V306.96L218.024 312.441L178.057 329.838L172.649 332.192V338.09V363.884H157.96L141.167 326.057L159.499 287.821L187.821 261.135L190.649 258.47V254.585V228.489V203.728L255.789 160.251L304.939 178.703L335.992 214.455V266.762V269.029L337.065 271.026L349.229 293.641L351.777 298.378H357.155H425.968L524.129 313.628L598.95 362.999Z" stroke="var(--backgroundColor)" stroke-width="18"/>
      <path d="M227.734 235.754L228.907 235.754L227.911 236.401L227.477 236.083L227.734 235.754Z" stroke="var(--backgroundColor)" stroke-width="18"/>
      <path d="M425.322 396.286L429.767 390.002L424.249 384.636L379.318 340.938H432.802L511.375 355.225L556.794 392.576L531.849 425.873L514.387 435.373L508.291 438.689L509.949 445.428L519.372 483.742L487.569 522.562L400.087 431.952L425.322 396.286Z" stroke="var(--backgroundColor)" stroke-width="18"/>
    </mask>
    <g mask="url(#mask0)">
      <path d="M343.24 24.5463C370.312 66.233 317.682 148.457 225.688 208.198C133.695 267.939 37.1735 282.575 10.1019 240.889C-16.9697 199.202 35.6599 116.979 127.653 57.2372C219.647 -2.5041 316.168 -17.1403 343.24 24.5463Z" fill="var(--backgroundColor)"/>
      <path d="M5.83327 232.588L337.108 17.4552L404.833 142.455L543.215 334.833L211.941 549.965L122.833 385.455L5.83327 232.588Z" fill="var(--backgroundColor)"/>
      <path d="M649.58 294.302C691.847 359.387 610.328 487.339 467.502 580.091C324.677 672.843 174.63 695.271 132.364 630.186C90.0972 565.101 171.616 437.149 314.441 344.397C457.267 251.646 607.313 229.217 649.58 294.302Z" fill="var(--backgroundColor)"/>
    </g>
  </svg>

