footer
  p
    strong ©&thinsp;2018… Пост Величины
    br
    a(href="https://github.com/dtroode/postvel/tree/master/src/pages") Редактировать
    |  на GitHub.
    br
    br
    | Контакты автора
    br
    a(href="https://twitter.com/dtroode") Твиттер
    | , 
    a(href="https://t.me/s/dtroode_channel") телеграм канал
    | , 
    a(href="https://t.me/dtroode") телеграм
    | , 
    a(href="mailto:davidkis113@gmail.com") почта
    br
    br
    a(href="https://gist.github.com/dtroode/5506ce3952ef59cf782a5cdf8e32b23a") Полезные источники
    | , для изучения математики старшеклассникам.
    br
    br
    | Я создал сайт для личного использования, чтоб не гуглить одно и то же, а потом он перерос в публичный проект.
  ul
    li нет лишнего, только числа и значения, чтоб моментально подставить в задачу,
    li грузится быстро, нет картинок, чтоб получить контент сразу,
    li таблицы листаются горизонтально, чтоб на телефоне не нужно было нажимать лишних кнопок, контент сразу тут,
    li в шапке лежат ссылки на все разделы, чтоб быстро попасть к физике или химии,
    li сайт поддерживает темную тему, чтоб помочь с решением уравнения даже ночью,
    li таблица Менделеева разделена по цветам с подписями и расположена в книжном формате, чтоб не путаться с расположением элементов,
    li лантаноиды и актиноиды находятся в отдельных таблицах, чтоб не забивать основную.
  span
    a(href="https://dtroode.vercel.app") *Давид Кистаури